In [1]:
import pandas as pd 
import numpy as np
from category_encoders import *

In [2]:
#create DataFrame
df = pd.DataFrame({'team': ['A', 'A', 'B', 'B', 'B', 'B', 'C', 'C'],
                   'points': [25, 12, 15, 14, 19, 23, 25, 29]})

#view DataFrame
print(df)

  team  points
0    A      25
1    A      12
2    B      15
3    B      14
4    B      19
5    B      23
6    C      25
7    C      29

# Q1: Apply Ordinal encoding.

In [3]:
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
X =  pd.DataFrame({'size': ['small', 'medium', 'large', 'xlarge']})

result=enc.fit_transform(X)
result

array([[2.],
       [1.],
       [0.],
       [3.]])

# Q2: Apply One hot encoding.

In [4]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder()

#perform one-hot encoding on 'team' column 
encoder_df = pd.DataFrame(encoder.fit_transform(df[['team']]).toarray())

#merge one-hot encoded columns back with original DataFrame
final_df = df.join(encoder_df)

#view final df
print(final_df)

  team  points    0    1    2
0    A      25  1.0  0.0  0.0
1    A      12  1.0  0.0  0.0
2    B      15  0.0  1.0  0.0
3    B      14  0.0  1.0  0.0
4    B      19  0.0  1.0  0.0
5    B      23  0.0  1.0  0.0
6    C      25  0.0  0.0  1.0
7    C      29  0.0  0.0  1.0

# Q3: Apply Frequency Encoding.

In [5]:
from category_encoders import CountEncoder
from sklearn.datasets import fetch_openml

bunch = fetch_openml(name="house_prices", as_frame=True)
display_cols = ["LotFrontage", "YearBuilt", "Heating", "CentralAir"]
X = pd.DataFrame(bunch.data, columns=bunch.feature_names)[display_cols]
X

      LotFrontage  YearBuilt Heating CentralAir
0            65.0     2003.0    GasA          Y
1            80.0     1976.0    GasA          Y
2            68.0     2001.0    GasA          Y
3            60.0     1915.0    GasA          Y
4            84.0     2000.0    GasA          Y
...           ...        ...     ...        ...
1455         62.0     1999.0    GasA          Y
1456         85.0     1978.0    GasA          Y
1457         66.0     1941.0    GasA          Y
1458         68.0     1950.0    GasA          Y
1459         75.0     1965.0    GasA          Y

[1460 rows x 4 columns]

In [6]:
enc = CountEncoder(cols=['CentralAir', 'Heating']).fit(X)
numeric_dataset = enc.transform(X)
numeric_dataset

      LotFrontage  YearBuilt  Heating  CentralAir
0            65.0     2003.0     1428        1365
1            80.0     1976.0     1428        1365
2            68.0     2001.0     1428        1365
3            60.0     1915.0     1428        1365
4            84.0     2000.0     1428        1365
...           ...        ...      ...         ...
1455         62.0     1999.0     1428        1365
1456         85.0     1978.0     1428        1365
1457         66.0     1941.0     1428        1365
1458         68.0     1950.0     1428        1365
1459         75.0     1965.0     1428        1365

[1460 rows x 4 columns]

# Q4: Apply Binary Encoding.

In [7]:
bunch = fetch_openml(name="house_prices", as_frame=True)
display_cols = ["LotFrontage", "YearBuilt", "Heating", "CentralAir"]
X = pd.DataFrame(bunch.data, columns=bunch.feature_names)[display_cols]
enc = BinaryEncoder(cols=['CentralAir', 'Heating']).fit(X)
numeric_dataset = enc.transform(X)
numeric_dataset

,LotFrontage,YearBuilt,Heating_0,Heating_1,Heating_2,CentralAir_0,CentralAir_1
0,65.0,2003.0,0,0,1,0,1
1,80.0,1976.0,0,0,1,0,1
2,68.0,2001.0,0,0,1,0,1
3,60.0,1915.0,0,0,1,0,1
4,84.0,2000.0,0,0,1,0,1
...,...,...,...,...,...,...,...
1455,62.0,1999.0,0,0,1,0,1
1456,85.0,1978.0,0,0,1,0,1
1457,66.0,1941.0,0,0,1,0,1
1458,68.0,1950.0,0,0,1,0,1
1459,75.0,1965.0,0,0,1,0,1